<!DOCTYPE html>
<html>
    <head>
        <title>World of Pong</title>
        {% load static %}
        <link href="https://fonts.googleapis.com/css2?family=Honk&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet"> 
       
    </head>
<body>
    <h1 id="title-tournoi">Tournoi</h1>
    <div id="div-tournoi">
        <!-- <h2 id="title-part">Participants au tournoi:</h2> -->
        <ul id="player-list">
            <li></li>
        </ul>
            <label id="login-player" for="name">Login du joueur:</label>
            <input type="text" id="username" name="user_name" />
            <button id="btn-participer">Participer</button>
        <button id="btn-launch-game">Lancer le tournoi</button>
    </div>
    <div id="div-jeu">
    </div>
</body>
{% load static %}
</html>