{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Sign up</title>
</head>

<body>
  <div class="container">
    <div class="form-custom">
      <div class="image-container text-center">
        <img src="{% static 'cadenas-ferme.png' %}" style="width: 50px; height: auto;">
      </div> 
  <form method="post" id="signup-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
      <button id="btn_signup" type="submit" href="#" class="btn btn-primary btn-block btn-max-width" onclick="event.preventDefault();">Sign up</button>
    </div>
  </form>
    </div>
  </div>
</body>
</html>
{% endblock %}